*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: Arial, sans-serif;
    min-height:100vh;
}
header{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    color: white;
}
img[alt="medieval-fondo"]{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
    filter: brightness(0.6);
}

.container{
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
nav ul{
    display : flex;
    justify-content: center;
    gap: 25px;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 8px;
}
nav ul li {
    display: inline;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
main {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

h1{
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 0.9em;
}